 <!-- ikeliam bendra navigacijos faila  -->
 <%- include('./partials/head.ejs') %> 
    <!-- ikeliam bendra navigacijos faila  -->
    <%- include('./partials/nav.ejs') %>
    <h1>This is express app About page</h1>
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non cupiditate optio nobis
      sit laudantium asperiores pariatur, voluptates magnam explicabo consectetur vitae officia
      obcaecati illum eligendi ut laborum. Necessitatibus, quae.</p
    >
<!-- ikeliam bendra footer faila  -->
<%- include('./partials/footer.ejs') %> 
