<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Blog</title>
  </head>
  <body>
    <h1>This is express app About page</h1>
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non cupiditate optio nobis
      sit laudantium asperiores pariatur, voluptates magnam explicabo consectetur vitae officia
      obcaecati illum eligendi ut laborum. Necessitatibus, quae.</p
    >
  </body>
</html>