    <!-- ikeliam bendra head faila  -->
    <%- include('./partials/head.ejs') %> 
    <!-- ikeliam bendra navigacijos faila  -->
    <%- include('./partials/nav.ejs') %> 

    <h1>This is contact page</h1>
    <!-- ikeliam bendra footer faila  -->
    <%- include('./partials/footer.ejs') %> 

   